body{
    background-image: linear-gradient(rgb(134, 61, 134), rgb(46, 100, 170),  lightblue);
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    width: 100%;
    /* border: 2px solid green; */
    height: 10vh;
    display: flex;
    font-size: larger;
}

#header1{
    flex-basis: 10%;
    padding: 2%;
    display: flex;
    justify-content: left;
}

#header2{
  flex-basis: 20%;
  padding: 2%;
  display: flex;
  justify-content: space-evenly;
}

.spin{
  flex-basis: 60%;
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
}

#art{
    flex-basis: 15%;
    padding: 2%;
}

#about{
    flex-basis: 15%;
    padding: 2%;
    color: white;
}
.main{
    display: flex;
}

/* ------------Image add--------------- */

.ImageAdd {
  background-color: rgba(7,34,53,1);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 1;
  overflow-y: scroll;
  padding: 15px 30px;
  /* position: fixed; */
  transition: all 0.35s ease-in-out;
  transform: translateX(100%);
  z-index: 1;
}

.ImageAdd-open{
  transform: translateX(-100%);
  opacity: 1;
}
/*--------------Image 1---------------- */

#img1{
    /* border: 2px solid red; */
    height: 80vh;
    flex-basis: 25%;
    justify-items: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*---------- Image 2----------------- */

#img2{
    /* border: 2px solid red; */
    height: 80vh;
    flex-basis: 25%;
    justify-items: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------- Image 3----------------- */
#img3{
    /* border: 2px solid red; */
    height: 80vh;
    flex-basis: 25%;
    justify-items: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------- Image 4----------------- */
#img4{
    /* border: 2px solid red; */
    height: 80vh;
    flex-basis: 25%;
    justify-items: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -----------Modal----------- */

#modal{
    display: flex;
    flex-basis: 100%;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-items: center;
}

#modal-box{
    background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
    display: none;

}

#modal-textbox {
	/* background-color:rgb(43, 43, 119); */
	height: 350px;
	width: 600px;
	/* border-radius: 2px; */
    margin: 150px auto;
	/* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); */
    /* display: flex; */
    /* justify-content: space-evenly; */
    font-family: Arial, Helvetica, sans-serif;
}

#close{
    color: white;
    display: flex;
    justify-content: first baseline;
}

#video{
    display: block;
    /* padding-top: 10px; */
}
/* -------------Spinning Boxes-------------- */
.spinning-box {
    background-color: white;
    background-image: radial-gradient(rgb(43, 147, 182), white);
    height: 100px;
    animation: move 8s infinite linear;
    margin: 10px;
    width: 100px;
    opacity: 0.15;
  }
  
  @keyframes move {

    0% {
        transform: translateY(0px);
        /* transform: translateX(100px); */
    }
    100% {
        transform: translateY(700px);
    }
  }
  
  .spinning-box1 {
    background-color: white;
    background-image: radial-gradient(rgb(43, 147, 182), white);
    height: 50px;
    animation: move1 7s infinite linear;
    margin: 10px;
    width: 50px;
    opacity: 0.15;
  }
  
  @keyframes move1 {

    0% {
      transform: translateY(0px);
      /* transform: translateX(100px); */
  }
  100% {
      transform: translateY(700px);
  }
}

  .spinning-box2 {
    background-color: white;
    background-image: radial-gradient(rgb(43, 147, 182), white);
    height: 80px;
    animation: move1 10s infinite linear;
    margin: 10px;
    width: 80px;
    opacity: 0.15;
  }

  @keyframes move1 {
    0% {
      transform: translateY(0px);
      /* transform: translateX(100px); */
  }
  100% {
      transform: translateY(700px);
  }
}

  .spinning-box3 {
    background-color: white;
    background-image: radial-gradient(rgb(43, 147, 182), white);
    height: 80px;
    animation: move3 20s infinite linear;
    margin: 10px;
    width: 80px;
    opacity: 0.15;
  }

  @keyframes move3 {
    0% {
      transform: translateY(0px);
      /* transform: translateX(100px); */
  }
  100% {
      transform: translateY(700px);
  }
}

  .spinning-box4 {
    background-color: white;
    background-image: radial-gradient(rgb(43, 147, 182), white);
    height: 100px;
    animation: move4 15s infinite linear;
    margin: 10px;
    width: 100px;
    opacity: 0.15;
  }

  @keyframes move4 {
    0% {
      transform: translateY(0px);
      /* transform: translateX(100px); */
  }
  100% {
      transform: translateY(700px);
  }
}

  .spinning-box5 {
    background-color: white;
    background-image: radial-gradient(rgb(43, 147, 182), white);
    height: 50px;
    animation: move5 5s infinite linear;
    margin: 10px;
    width: 50px;
    opacity: 0.15;
  }

  @keyframes move5 {
    0% {
      transform: translateY(0px);
      /* transform: translateX(100px); */
  }
  100% {
      transform: translateY(700px);
  }
}
  /* --------------------footer----------------- */
  .footer{
    width: 100%;
    /* border: 2px solid green; */
    height: 10vh;
    display: flex;
}

#openMessage {
    background-color: rgb(98, 129, 139);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}